.contact {
    margin: 0 50px;
}

.name {
    width: 50%;
}

input[type="text"] {
    width: 100%;
    height: 30px;
    background-color: #fafafa;
    border: solid #759aab;
}

textarea {
    width: 100%;
    height: 250px;
    background-color: #fafafa;
    border: solid #759aab;
}

.button {
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 45%;
    padding: 2px 20px;
    background-color: #759aab;
    color: white;
    border-radius: 50px;
    border: solid 0px;
}


main {
    margin: 140px 0 50px 0;
    overflow: hidden;
}

h2 {
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    border: #767676;
    width: 300px;
    text-align: center;
    float: right;
    width: 40%;
    margin-top: 9%;
    margin-right: 5%;
}

img {
    float: left;
    width: 40%;
    margin-left: 10%;
}


table th {
    padding: 10px;
    font-weight: normal;
    background-color: #FEE1C7;
}

table td {
    padding-left: 20px;
    padding-right: 20px;
}
